/* Базовые стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Заголовок */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #26C0A9;
}

/* Стили для кнопок */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.format-btn {
    padding: 10px 20px;
    border: none;
    background-color: #26C0A9;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.format-btn:hover {
    background-color: #1ea890;
    transform: scale(1.05);
}

/* Скрытые разделы */
.content-section {
    display: none;
    margin-top: 20px;
}

.content-section h2 {
    margin-bottom: 10px;
    color: #26C0A9;
}

.content-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.content-section th, .content-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.content-section th {
    background-color: #26C0A9;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.content-section td {
    background-color: #f9f9f9;
    color: #333;
}

.content-section tr:nth-child(even) td {
    background-color: #e6f8f5;
}

/* Показываем текущий раздел */
.content-section.active {
    display: block;
}

/* Добавляем акцент на активную кнопку */
.format-btn.active {
    background-color: #1ea890;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(38, 192, 169, 0.5);
}

.footer {
    text-align: center;
    background-color: #26C0A9; /* Зеленый фон */
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.footer a:hover {
    color: #d9fff5; /* Светлый оттенок для наведения */
}

.sort-icon {
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sort-icon.asc {
    background-image: url('./images/sortdown.svg'); /* Замените на путь к значку для возрастания */
}

.sort-icon.desc {
    background-image: url('./images/sort.svg'); /* Замените на путь к значку для убывания */
}
